*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

html,
body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}