.admin-upper-nav{
    width: 100%;
    height: 60px;
    background-color: #2f2f2f;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
    justify-content: space-between;
}

.admin-upper-nav h2{
    font-size: 24px;
}

.right-admin-upper-nav {
  display: flex;
  align-items: center;
  gap: 30px; /* mail, notification, search ke beech gap */
}

/* Icons */
.Admin_mail,
.Admin_notification {
  color: white;
  font-size: 26px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.Admin_mail:hover,
.Admin_notification:hover {
  transform: scale(1.1);
}

/* ===============================
   SEARCH INPUT WITH ICON
================================= */
.admin-search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.Admin_search {
  width: 280px;
  height: 38px;
  padding: 0 40px 0 12px; /* right padding icon ke liye */
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: rgb(227, 245, 244);
  font-size: 15px;
  color: #2f2f2f;
}

/* Search icon inside input */
.search-icon {
  position: absolute;
  right: 12px;
  font-size: 20px;
  cursor: pointer;
}
