/* ============================= */
/* Admin Login Page CSS */
/* ============================= */

.login-container {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #2b0f14, #4b141c);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 850px;
    background: #ffffff;
    display: flex;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);
}

/* Left Image */
.login-box img {
    width: 50%;
    object-fit: cover;
}

/* Right Form */
.login-form {
    width: 50%;
    padding: 45px 40px;
}

.login-form .logo {
    text-align: center;
    margin-bottom: 10px;
}

.login-form .logo span {
    font-size: 28px;
    font-weight: 700;
    color: maroon;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #2b0f14;
    letter-spacing: 1px;
}

.login-input-box {
    position: relative;   /* 🔥 MOST IMPORTANT */
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 20px;
}

.login-input-field {
    width: 100%;
    padding: 12px 40px 12px 12px; /* right space for eye */
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

.login-input-field:focus {
    border-color: maroon;
}

.eye-icon {
    position: absolute;
    right: 12px;
    bottom: 12px;     /* 👈 input ke andar vertically center */
    cursor: pointer;
    color: #777;
    font-size: 18px;
}

.eye-icon:hover {
    color: maroon;
}


/* .login-input-box label {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
    color: #555;
} */

/* Password input wrapper */
.password-box {
    position: relative;
}


.login-input-field {
    width: 100%;
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

.login-input-field:focus {
    border-color: maroon;
    box-shadow: 0 0 0 2px rgba(128, 0, 0, 0.15);
}

/* Button */
.login-btn {
    width: 100%;
    padding: 13px;
    background: maroon;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.login-btn:hover {
    background: #5e0f18;
}

/* Redirect text */
.login-redirect-text {
    text-align: center;
    margin-top: 18px;
    font-size: 14px;
}

.login-redirect-text a {
    color: maroon;
    font-weight: 600;
    text-decoration: none;
}

.login-redirect-text a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
    .login-box {
        flex-direction: column;
        width: 90%;
    }

    .login-box img {
        width: 100%;
        height: 200px;
    }

    .login-form {
        width: 100%;
        padding: 30px 25px;
    }
}
