/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    transition: all 0.3s ease;
}

.navbar.scrolled {
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

/* LINKS */
.nav-link {
    display: flex;
    gap: 50px;
}

.navbar a {
    color: #880000;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}

.navbar.scrolled a {
    color: black;
}

.nav-link a:hover {
    border-bottom: 3px solid #880000;
}

.navbar.scrolled .nav-link a:hover {
    border-bottom: 3px solid black;
}

/* LOGO */
.logo {
    font-size: 24px;
    font-weight: 600;
}

/* MENU ICON (hidden on desktop) */
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #880000;
}

.navbar.scrolled .menu-icon {
    color: black;
}

/* MOBILE MENU */
.mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;

    background: white;
    padding: 20px;
    text-align: center;
}

.mobile-menu a {
    color: black;
    font-size: 16px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .navbar {
        justify-content: space-between;
        padding: 15px 20px;
    }

    .logo {
        font-size: 24px;
    }
}
