.Security-title{
  font-size: 45px;
  font-weight: bold;
  color:black;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 80px;
  margin-right: 40px;
  
  
}

.securityImg{
 margin: auto;
  width:500px;
  height: 500px;
  border-radius: 12px;
 
}

.security-image h3{
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  padding: 20px;
}

.security-image h4{
  text-align: center;
  margin-top: 10px;
  padding: 20px;
}

.security-image p{
  font-size: 22px;
  text-align: center;
  margin-top: 30px;
  margin-right: 400px;
  margin-bottom: -20px;
  padding-top: 30px;

}


.security-points {
  list-style-type: disc;
  list-style-position: outside; 
  padding-left: 20px;
  max-width: 600px;    
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.security-points li {
  text-align: left;   
  color:#000;
  margin-bottom: 10px;
}

.security-points li::marker {
  color: #880000;
  font-size: 1.1em; 
}

.security-image h4{
 font-size: 22px;
 margin-right: 450px;
 }