.security_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.Security-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    color: #880000;
    gap: 20px;
    padding-bottom: 50px;
}

.security_section1 {
    display: flex;
    flex-direction: column;
    width: 1000px;
    align-items: center;
    gap: 80px;
}

.securityImg{
    border-radius: 10px;
    height: 400px;
}

.Security-title-heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
    align-items: center;
}

.security-list {
    color: black;
    font-size: 20px;
    line-height: 1.9em;
    word-spacing: 1rem;
    list-style: outside;
    padding-left: 20px;
}